<div class="wrapper">
  <div class="header">

    <a href="#">
      <div class="header__logo">
        <img src="assets/images/logo.png" alt="Logo" class="header__logo-image">
      </div>
    </a>
    
    <div class="header__right-side">
      <a href="#">
        <div class="header__login">
            <img src="assets/images/person-icon.svg" alt="Login" class="header__icon">
            <span>LOGIN</span>    
        </div>
      </a>

      <a href="#">
        <div class="header__shopping-bag">
            <img src="assets/images/shopping-bag.svg" alt="Shop" class="header__icon">
            <span>3 ITEMS</span>    
        </div>
      </a>

      <a href="#">
        <div class="header__search">
            <img src="assets/images/magnifying-glass.svg" alt="Search" class="header__icon">    
        </div>
      </a>

      <div class="header__menu">
        <app-navigation></app-navigation>
      </div>
    </div>

  </div>
</div>
