<footer>
  <div class="social-media">
      <div class="wrapper">
          <h1 class="social-media__headline">
            <span>GET US ON</span>
          </h1>
          <div class="social-media__icons">
            <app-svg-icons></app-svg-icons>
          </div>
      </div>
  </div>

  <div class="footer-links">
    <div class="wrapper">

      <div class="footer-links__menu">
        <div class="footer-links__menu-row">
          <h2>QUESTIONS?</h2>
          <ul>
            <a href="#"><li>Help</li></a>
            <a href="#"><li>Track Order</li></a>
            <a href="#"><li>Returns</li></a>
          </ul>
        </div>
        <div class="footer-links__menu-row">
          <h2>WHERE TO BUY</h2>
          <ul>
            <a href="#"><li>Store Locator</li></a>
            <a href="#"><li>Wishlist</li></a>
            <a href="#"><li>Gift Cards</li></a>
          </ul>
        </div>
        <div class="footer-links__menu-row">
          <h2>ABOUT US</h2>
          <ul>
            <a href="#"><li>Our Story</li></a>
            <a href="#"><li>Careers</li></a>
            <a href="#"><li>Affiliates</li></a>
          </ul>
        </div>
      </div>

      <div class="footer-links__payment-logo">
        <div class="footer-links__payment">
          <img src="../../assets/images/visa.svg" alt="Visa">
          <img src="../../assets/images/mastercard.svg" alt="Mastercard">
          <img src="../../assets/images/paypal.svg" alt="Paypal">
          <img src="../../assets/images/amex.svg" alt="American express">
          <img src="../../assets/images/visael.svg" alt="Visa electron">
          <img src="../../assets/images/maestro.svg" alt="Maestro">
        </div>

        <div class="footer-links__logo">
          <img src="../../assets/images/logo.png" alt="logo">
          <span>Ecommerce PSD Theme</span>
        </div>
      </div>

    </div>
  </div>
  
</footer>
