/* grid styles */

@import './variables.scss';

body {
    overflow-x: hidden;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $screen-size-computer) {
        width: 1200px;
    }
}