<section class="product-advertisement">
  <h1 class="product-advertisement__headline">Sharpen Your Look</h1>
  <p class="product-advertisement__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptas reprehenderit pariatur odit! Enim, perspiciatis laboriosam? Voluptatem repellat non odit, voluptatum vel nobis aliquam molestias ad dolor, similique doloribus voluptates magni omnis nam assumenda, quod veritatis dolores repudiandae?</p>
  
  <div class="wrapper">
    <div class="product-advertisement__product-grid">
      
      <div class="product-advertisement__product-row">
        <div class="product-advertisement__img-wrapper">
          <img src="../../assets/images/product-img-1.png" alt="image 1">
        </div>
        <div>
          <div class="product-advertisement__product-info-wrapper">
            <h1>Extraordinary Design</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus deleniti, sint praesentium doloribus eum veniam officiis quidem delectus ratione nihil provident ad? Dolorem laborum et officia amet labore sed fugit fuga dolore voluptatibus ratione laboriosam placeat sapiente fugiat atque beatae, consequuntur quisquam reiciendis voluptas!</p>
            <div>
              <div>
                <img src="../../assets/images/info1.png" alt="">
                <p>Elegant Style</p>
              </div>

              <div>
                <img src="../../assets/images/info2.png" alt="">
                <p>Elegant Style</p>
              </div>

              <div>
                <img src="../../assets/images/info3.png" alt="">
                <p>Elegant Style</p>
              </div>
            </div>
            <button>READ MORE</button>
          </div>
        </div>
      </div>

      <div class="product-advertisement__product-row">
          <div class="product-advertisement__img-wrapper">
            <img src="../../assets/images/product-img-2.png" alt="image 2">
          </div>
        <div>
          <div class="product-advertisement__product-info-wrapper">
            <h1>Extraordinary Design</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus deleniti, sint praesentium doloribus eum veniam officiis quidem delectus ratione nihil provident ad? Dolorem laborum et officia amet labore sed fugit fuga dolore voluptatibus ratione laboriosam placeat sapiente fugiat atque beatae, consequuntur quisquam reiciendis voluptas!</p>
            <div>
              <div>
                <img src="../../assets/images/info1.png" alt="">
                <p>Elegant Style</p>
              </div>
  
              <div>
                <img src="../../assets/images/info2.png" alt="">
                <p>Elegant Style</p>
              </div>
  
              <div>
                <img src="../../assets/images/info3.png" alt="">
                <p>Elegant Style</p>
              </div>
            </div>
            <button>READ MORE</button>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- end wrapper -->

  <div class="product-advertisement__banner">
    <h1>BIG DISCOUNTS</h1>
  </div>
</section>