<section class="newsletter">
  <div class="wrapper">
    <div class="newsletter__wrapper">
      <div class="newsletter__img-men">
        <div class="newsletter__men-text">
          <h1>MEN'S</h1>
          <h2>lookbook</h2>
        </div>
      </div>

      <div class="newsletter__get-newsletter">
        <div class="newsletter__content-wrapper">
          <img src="../../assets/images/newsletter.svg" alt="newsletter">
          <h1>GET OUR NEWSLETTER</h1>
          <p>JOIN OUR MAILLIST TO RECIEVE</p> 
          <p>SPECIAL DISCOUNTS</p>
          <form>
            <input type="email" placeholder="ENTER YOUR EMAIL">
            <input type="submit" value="SUBSCRIBE">
          </form>
        </div>
      </div>
      
      <div class="newsletter__img-women">
        <div class="newsletter__women-text">
          <h1>WOMEN'S</h1>
          <h2>lookbook</h2>
        </div>
      </div>
    </div>
  </div>
</section>